<nav class="sidemenu">
  <ul>
    <li routerLink="/home">
      <img src="../../../assets/logo.png" width="36px">
      <span class="logo">egister Users</span>
    </li>
    <li routerLink="/home">
      <mat-icon class="icon">home</mat-icon>
      Home
    </li>
    <li routerLink="/users">
      <mat-icon class="icon">person_add</mat-icon>
      Cadastrar usuários
    </li>
    <li routerLink="/login" class="logout">
      <mat-icon class="icon">logout</mat-icon>
      Sair
    </li>
  </ul>

</nav>