<div class="login__background d-none d-md-block"></div>

<div class="login__form">
  <form>
    <h1 class="form__title">Register Users</h1>
    <h2 class="form__subtitle">O seu portal de gerenciamento de usuários</h2>

    <input [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" class="form__input" type="text" placeholder="Digite seu nome">
    <app-button textButton="acessar" size="100" (click)="login()"> </app-button>
  </form>
  <a class="login__footer" href="https://www.linkedin.com/in/maycon-do-carmo-9105b828b/" target="_blank"> © 2025 | Desenvolvido por Maycon Do Carmo </a>

</div>